body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: overlay;
  position: relative;
}
.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/*NAVBAR*/

#navbar {
  display: flex;
  height: 10%;
  padding: 0 19px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  margin: 0 10px;
}

/* Color Boxes */

#box {
  width: 25%;
  height: 20%;
  margin-bottom: -5px;
  display: inline-block;
  position: relative;
}
.name {
  position: absolute;
  bottom: 2px;
}

.name {
  position: absolute;
  bottom: 2px;
}
.bottom-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 85%;
}
p {
  display: inline-block;
}
.nameEmoji {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* animaton*/

@keyframes grow {
  from {
    border-bottom-width: 1px;
  }
  to {
    border-bottom-width: 4px;
  }
}
@keyframes move {
  from {
    filter: opacity(0);
    transform: translateX(-120px);
  }
  to {
    filter: opacity(1);
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    visibility: hidden;
    filter: opacity(0);
  }
  to {
    visibility: visible;
    filter: opacity(100);
  }
}

@keyframes fullScreen {
  from {
    width: 25%;
    height: 20%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

/* Browser Styles*/

::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
