body {
  margin: 0;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*NAVBAR*/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
}
#colorChoose {
  border-radius: 6px;
  border: 1px solid black;
  height: 40px;
  width: 150px;
}
#leftNav {
  padding: 5px 10px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 30px;
}

.pallete {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.see-more {
  background: rgb(255, 255, 255, 0.6);
  border: none;
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 12px;
}
.name {
  position: absolute;
  bottom: 2px;
}

.bottom-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 85%;
}
.copy-btn {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  visibility: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}

.show:hover .copy-btn {
  animation: 0.3s appear forwards;
}

@keyframes appear {
  from {
    visibility: hidden;
    filter: opacity(0);
  }
  to {
    visibility: visible;
    filter: opacity(100);
  }
}

::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 10px;
}

.color-inner {
  width: 100%;
  height: 100%;
  z-index: 16;
}
.show {
  width: 25%;
  height: 20%;
  margin: 0;
  display: inline-block;
  position: relative;
}

@keyframes fullScreen {
  from {
    width: 25%;
    height: 20%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
